*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width:100%;
  height:auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container{
  width:90%;
  height:100%;
  padding:40px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  /*background-color:#f1e8c0;*/
  background-color: #53c8b3;
  border-radius: 10px;
  border:1px solid rgb(187, 183, 183);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  
}

.grid-container {
   display: grid; 
   width:100%;
   margin:auto;

   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr;
   
   gap: 10px;
   height: 100%;
   
}
.grid-item{
   display: flex;
   justify-content: space-around; 
   align-items: center; 
   flex-direction:column;

   background-color:#d4fcff;
   padding:16px 10px;
   color:#ef2f38;
   font-family:Arial, Helvetica, sans-serif;
   min-height: 200px;
   border-radius: 10px;
}
#item-0 {
   grid-row-start: 1;
   grid-column-start: 1;
   grid-row-end: 2;
   grid-column-end: 4;   
}
#item-1 {
   grid-row-start: 2;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 2;  
}
#item-2 {
   grid-row-start: 2;
   grid-column-start: 2;

   grid-row-end: 3;
   grid-column-end: 3;
}
#item-3 {
   grid-row-start: 2;
   grid-column-start: 3;

   grid-row-end: 3;
   grid-column-end: 4;
}
#item-4 {
   grid-row-start: 3;
   grid-column-start: 1;

   grid-row-end: 4;
   grid-column-end: 2;
 
}
#item-5 {
   grid-row-start: 3;
   grid-column-start: 2;

   grid-row-end: 4;
   grid-column-end: 3;

}
#item-6 {
   grid-row-start: 3;
   grid-column-start: 3;

   grid-row-end: 4;
   grid-column-end: 4;
 
}

.btns{
  width:100%;
  display:flex;
  justify-content:space-around;
  flex-wrap: wrap;
  margin-top:20px;
  gap:15px;
}
a[href]{
  text-decoration: none;
  padding:8px 16px;
  border-radius:10px;
  font-size:15px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-color: #ffffff;
  color:#ef2f38;
  border:1.5px solid #ef2f38;
 
}

header {
  width: 100%;
  margin-bottom: 30px;
  color:#ef2f38;
  text-align: start;
  font-family:Arial, Helvetica, sans-serif
  
}
h2{
  text-align: center;
  text-shadow:1px 2px 2px rgb(255, 250, 250);
  color:#030303;
  letter-spacing: 1.5px;
}
hr{
  border: none; /* Remove default border */
  border-top: 2px solid #ef2f38;
  
}
 a:hover{

  background-color:#ef2f38;
  color:#ffffff;
 }


 @media screen and (max-width: 700px) and (min-width: 460px) {
  .main-container{
    padding:20px;
  }
  .grid-item{
    padding:16px 4px;
  }
   a[href]{
      font-size: 12px;
      padding:4px 6px;
    }
    h2{
      font-size:18px;
    }
 }

 @media screen and (max-width: 460px) and (min-width: 200px) {
  header h1{
    font-size:16px;
  }
  .main-container{
    width: 98%;
    padding:15px 4px;
  }
   a[href]{
      font-size: 12px;
      padding:4px 8px;
    }
    h2{
      font-size:18px;
    }
    .btns{
      flex-wrap: wrap;
    }
    .grid-container{
      grid-template-rows: 1fr ;
      grid-template-columns: 1fr ;
      gap:5px;

    }
    .grid-item{
  
     min-height: 100px;
   }
    #item-0{
      grid-row-start: 1;
      grid-column-start: 1;
      grid-row-end: 2;
      grid-column-end: 2; 
    }
    #item-1{
      grid-row-start: 2;
      grid-column-start: 1;
   
      grid-row-end: 2;
      grid-column-end: 2; 
    }
    #item-2{
      grid-row-start: 3;
      grid-column-start: 1;
   
      grid-row-end: 3;
      grid-column-end: 2;
    }
    #item-3 {
      grid-row-start: 4;
      grid-column-start: 1;
   
      grid-row-end: 5;
      grid-column-end: 2;
   }
   #item-4 {
      grid-row-start: 5;
      grid-column-start: 1;
   
      grid-row-end: 6;
      grid-column-end: 2;
    
   }
   #item-5 {
      grid-row-start: 6;
      grid-column-start: 1;
   
      grid-row-end: 7;
      grid-column-end: 2;
   
   }
   #item-6 {
      grid-row-start: 7;
      grid-column-start: 1;
   
      grid-row-end: 8;
      grid-column-end: 2;
    
   }
 }



 @media screen and (max-width: 200px) and (min-width: 100px) {
  header h1{
    font-size:12px;
  }
  .main-container{
    width: 98%;
    padding:15px 2px;
    border-radius: 0;
  }
   a[href]{
      font-size: 8px;
      padding:4px 8px;
    }
    h2{
      font-size:14px;
    }
    .btns{
      flex-wrap: wrap;
    }
    
    .grid-container{
      grid-template-rows: 1fr ;
      grid-template-columns: 1fr ;
      gap:3px;

    }
    .grid-item{
      padding:12px 6px;
      min-height: 50px;
   }
    #item-0{
      grid-row-start: 1;
      grid-column-start: 1;
      grid-row-end: 2;
      grid-column-end: 2; 
    }
    #item-1{
      grid-row-start: 2;
      grid-column-start: 1;
   
      grid-row-end: 2;
      grid-column-end: 2; 
    }
    #item-2{
      grid-row-start: 3;
      grid-column-start: 1;
   
      grid-row-end: 3;
      grid-column-end: 2;
    }
    #item-3 {
      grid-row-start: 4;
      grid-column-start: 1;
   
      grid-row-end: 5;
      grid-column-end: 2;
   }
   #item-4 {
      grid-row-start: 5;
      grid-column-start: 1;
   
      grid-row-end: 6;
      grid-column-end: 2;
    
   }
   #item-5 {
      grid-row-start: 6;
      grid-column-start: 1;
   
      grid-row-end: 7;
      grid-column-end: 2;
   
   }
   #item-6 {
      grid-row-start: 7;
      grid-column-start: 1;
   
      grid-row-end: 8;
      grid-column-end: 2;
    
   }
 }