#myForm{
  margin-bottom: 20px;
  width:100%; 
  text-align:left;
  
}
#myForm label{
 font-size: 22px; 
 color: #232323; 
 padding: 0 20px 0 0;
}
#restaurant{
  font-size: 16px;
  padding: 4px;
  color: #232323;
  border-radius: 6px;
}
input[type='checkbox'] {
        transform: scale(1.3);
      }

@media  (max-width:200px) {
    #myForm label{
      font-size: 16px;
    }
    #restaurant{
     font-size:12px;
     padding:4px;
    }
}